[submodule "submodules/langflow"]
	path = submodules/langflow
	url = https://github.com/langflow-ai/langflow.git
[submodule "submodules/langchain"]
	path = submodules/langchain
	url = https://github.com/langchain-ai/langchain.git
